body {
    margin: 0%;
    background-image: url(../images/Biggen\ Games.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: white;
    }
button {
    background-image: 
    url(../images/imglykit-export\ \(1\).jpeg);
    color: white;
    border-radius: 5px;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: sans-serif;
    font-size: large;
}
button:hover{
background-image: 
url(https://cdn.discordapp.com/attachments/1152801942188339251/1155299586571771945/backgroundv2.jpg);
color: grey;
}
button{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: sans-serif;
    font-size: large;
}
button:hover{
    background-color: rgb(15, 11, 228);
}
button{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: sans-serif;
    font-size: large;
}
button:hover{
    background-color: rgb(15, 11, 228);
}
<style>
#monkeymart-iframe{
    border: none;
}
</style>
